---
import Section from '../Section.astro';
---

<Section title="Experience">
    <i class="fa-solid fa-brain text-red-200 ml-2" slot="icon"></i>
    <div>
        <ol class="relative border-s-4 border-red-200 px-4 py-6">
            <li class="mb-10 ms-4">
                <div class="absolute w-4 h-4 bg-red-400 rounded-full mt-1.5 -start-2.5"></div>
                <time class="mb-1 text-sm font-normal leading-none text-red-400">2021 - Present</time>
                <h3 class="text-xl font-semibold">Informatics Engineering • UPC (Spain)</h3>
                <p class="text-base font-normal">Computer Engineering's speciality. Currently in 3rd year.</p>
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-4 h-4 bg-red-400 rounded-full mt-1.5 -start-2.5"></div>
                <time class="mb-1 text-sm font-normal leading-none text-red-400">2019 - 2021</time>
                <h3 class="text-xl font-semibold">Academica's DUAL Diploma ® (Online)</h3>
                <p class="text-base font-normal">Graduated with honors.</p>
            </li>                 
            <li class="ms-4">
                <div class="absolute w-4 h-4 bg-red-400 rounded-full mt-1.5 -start-2.5"></div>
                <time class="mb-1 text-sm font-normal leading-none text-red-400">2019 - 2021</time>
                <h3 class="text-xl font-semibold">Tech Bachelor • Stucom (Spain)</h3>
                <p class="mb-4 text-base font-normal">Graduated with honors.</p>
            </li>
        </ol>
    </div>
</Section>