---
import Section from '../Section.astro';
import Project from '../Project.astro';
---

<Section title="Projects">
    <i class="fa-solid fa-briefcase text-red-200 ml-2" slot="icon"></i>
    <div class="flex flex-col gap-12 mt-6">
        <Project 
            title="ZeOS" 
            description="A basic OS made from scratch as a practice for the university."
            img="imgs/zeos.png"
            href="/" 
            code="https://gitlab.com/Dorovich/zeos"
            page="/projects/zeos"
            tech={[["icons/c.svg", "C"], ["icons/assembly.svg", "x86 Assembly"]]} 
        />
        <Project 
            title="DIY Basic Arduino Console" 
            description="A basic console I made using an Arduino Uno. Programmed a game too!!"
            img="imgs/diy-console.png"
            href="/" 
            code="https://github.com/morsoth/DIY-basic-arduino-console"
            page="/projects/diy-console"
            tech={[["icons/arduino.svg", "Arduino"], ["icons/platformio.svg", "PlatformIO"]]} 
        />
        <Project 
        title="Web Portfolio" 
        description="My personal Web Portfolio made with Astro and Tailwind."
        img="imgs/web-portfolio.png"
        href="/" 
        code="https://github.com/morsoth/morsoth.github.io"
        page=""
        tech={[["icons/astro.svg", "Astro"], ["icons/tailwind.svg", "Tailwind"]]} 
    />
    </div>
</Section>