---
import MainProject from "../MainProject.astro";
import Project from "../Project.astro";

import ButtonLight from "../ButtonLight.astro";
---

<section class="flex flex-col scroll-mt-36 gap-10" id="projects">
    <h2 class="text-6xl font-semibold text-center md:text-start">PROJECTS</h2>

    <div class="flex flex-col md:grid grid-cols-1 md:grid-cols-2 gap-10">
        <MainProject 
            title="ZeOS" 
            description="A basic OS made from scratch as a practice for the university."
            code="https://github.com/morsoth/zeos"
            page="a"
            tech={[["icons/c.svg", "C"], ["icons/assembly.svg", "x86 Assembly"]]}
        />
        <Project 
            title="ZeOS" 
            description="A basic OS made from scratch as a practice for the university."
            code="https://github.com/morsoth/zeos"
            tech={[["icons/c.svg", "C"], ["icons/assembly.svg", "x86 Assembly"]]}
        />
        <Project 
        title="DIY Basic Arduino Console" 
        description="A basic console I made using an Arduino Uno. Programmed a game too!!"
        code="https://github.com/morsoth/DIY-basic-arduino-console"
        tech={[["icons/arduino.svg", "Arduino"], ["icons/platformio.svg", "PlatformIO"]]}
        />
    </div>
    <div class="flex justify-center">
        <ButtonLight text="Github" href="https://github.com/morsoth" target="_blank">
            <i class="fa-brands fa-github" slot="before"></i>
        </ButtonLight>
    </div>
</section>