---
import Section from '../Section.astro';
import Social from "../Social.astro";
---

<Section title="Socials">
    <i class="fa-solid fa-at text-red-200 ml-2" slot="icon"></i>
    <div class="flex flex-col gap-6 mt-6">
        <div class="flex justify-between ">
            <span class="no-underline py-2 pl-6 w-full font-medium text-md border-b-2 border-red-200">morsoth119@gmail.com</span>
            <button onclick="navigator.clipboard.writeText('morsoth119@gmail.com')" class="border-2 border-red-400 hidden sm:inline">
                <i class="fa-solid fa-copy text-white bg-red-400 px-8 py-3"></i>
            </button>
        </div>
        <div class="flex gap-8 flex-wrap">
            <Social text="Github" href="https://github.com/morsoth" target="_blank" color="rgb(0, 0, 0)">
                <img src="icons/github.svg" alt="" class="h-6"  slot="before">
            </Social>
            <Social text="Linkedin" href="https://www.linkedin.com/in/pau-zaragoza-gallardo-86b925274/" target="_blank" color="rgb(0, 119, 181)">
                <img src="icons/linkedin.svg" alt=""  class="h-6" slot="before">
            </Social>
        </div>
    </div>
</Section>