---

---

<section class="flex flex-col gap-10 scroll-mt-36" id="studies">
    <h2 class="text-4xl sm:text-6xl font-semibold text-center sm:text-start">STUDIES</h2>
    <div class="mx-8 bg-gradient-to-b from-black from-80% to-transparent">
        <ol class="relative bg-beige ml-2 py-6">
            <li class="pl-10 md:pl-14 py-6">
                <div class="absolute w-8 h-8 border-8 border-black shadow-3xl bg-blue rounded-full mt-1.5 -start-5"></div>
                <time class="mb-1 font-normal leading-none text-blue">2021 - Present</time>
                <h3 class="text-xl md:text-2xl font-semibold">Informatics Engineering • UPC (Spain)</h3>
                <p class="text-base font-normal">Computer Engineering's speciality. Currently in 4th year.</p>
            </li>
            <li class="pl-10 md:pl-14 py-6">
                <div class="absolute w-8 h-8 border-8 border-black shadow-3xl bg-blue rounded-full mt-1.5 -start-5"></div>
                <time class="mb-1 font-normal leading-none text-blue">2019 - 2021</time>
                <h3 class="text-xl md:text-2xl font-semibold">Academica's DUAL Diploma ® (Online)</h3>
                <p class="text-base font-normal">Graduated with honors.</p>
            </li>                 
            <li class="pl-10 md:pl-14 py-6">
                <div class="absolute w-8 h-8 border-8 border-black shadow-3xl bg-blue rounded-full mt-1.5 -start-5"></div>
                <time class="mb-1 font-normal leading-none text-blue">2019 - 2021</time>
                <h3 class="text-xl md:text-2xl font-semibold">Tech Bachelor • Stucom (Spain)</h3>
                <p class="mb-4 text-base font-normal">Graduated with honors.</p>
            </li>
        </ol>
    </div>
</section>