---
import MainTech from "../MainTech.astro"
import Tech from "../Tech.astro"
---

<section class="scroll-mt-36" id="technologies">
    <h2 class="text-6xl font-semibold mb-10">TECHNOLOGIES</h2>
    <div class="grid grid-cols-2 gap-20">
        <div>
            <h4 class="text-2xl font-semibold text-olive pl-4 mb-2">Languages</h4>
            <div class="grid grid-cols-6 gap-10 border-2 border-olive p-10 rounded-3xl shadow-inner-xl">
                <MainTech name="C" icon="icons/c.svg" />
                <MainTech name="C++" icon="icons/cpp.svg" />
                <Tech name="VHDL" icon="" />
                <Tech name="SystemVerilog" icon="" />
                <Tech name="x86 Assembly" icon="icons/assembly.svg" />
                <Tech name="HTML" icon="icons/html.svg" />
                <Tech name="CSS" icon="icons/css.svg" />
                <Tech name="JS" icon="icons/js.svg" />
                <Tech name="Java" icon="icons/java.svg" />
                <Tech name="Python" icon="icons/python.svg" />
                <Tech name="C#" icon="icons/cs.svg" />
            </div>
        </div>
        <div>
            <h4 class="text-2xl font-semibold text-olive pl-4 mb-2">Tools / Frameworks</h4>
            <div class="grid grid-cols-6 gap-10 border-2 border-olive p-10 rounded-3xl shadow-inner-xl">
                <MainTech name="Arduino" icon="icons/arduino.svg" />
                <MainTech name="Eagle" icon="" />
                <Tech name="PlatformIO" icon="icons/platformio.svg" />
                <Tech name="Fusion 360" icon="icons/fusion-360.svg" />
                <Tech name="Photoshop" icon="icons/photoshop.svg" />
                <Tech name="Astro" icon="icons/astro.svg" />
                <Tech name="Tailwind" icon="icons/tailwind.svg" />
                <Tech name="Premiere" icon="icons/premiere.svg" />
            </div>
        </div>
    </div>
</section>