---
import Layout from '../layouts/MainLayout.astro';
import Experience from '../components/sections/Experience.astro';
import Projects from '../components/sections/Projects.astro';
import Technologies from '../components/sections/Technologies.astro';
import Socials from '../components/sections/Socials.astro';
import Footer from '../components/Footer.astro';
import Button from "../components/Button.astro";
---

<Layout title="Pau's Portfolio">
	<main class="bg-white max-w-3xl w-full shadow-xl p-10 sm:p-12 flex flex-col gap-10" id="home">
		<section class="w-full flex flex-col sm:flex-row items-center gap-5">
			<div class="w-44 h-44 border-red-400 border-4 bg-white overflow-hidden">
				<img src="imgs/profile.png" alt="" class="object-cover h-full w-full">
			</div>
			<div class="flex flex-col gap-2">
				<h1 class="text-5xl font-bold text-center md:text-start">Pau Zaragoza</h1>
				<h3 class="text-xl  text-center sm:text-start">I'm a student.</h3>
				<div class="flex justify-center sm:justify-start gap-4">
					<Button text="Resume" href="cv.pdf" target="_blank">
						<i class="fa-solid fa-file-arrow-down" slot="before"></i>
					</Button>
					<Button href="https://github.com/morsoth" target="_blank">
						<img src="icons/github.svg" alt="" slot="before" class="h-5">
					</Button>
					<Button href="https://www.linkedin.com/in/pau-zaragoza-gallardo-86b925274/" target="_blank">
						<img src="icons/linkedin-black.svg" alt="" slot="before" class="h-5">
					</Button>
				</div>
			</div>
		</section>

		<Experience />

		<Projects />

		<Technologies />

		<Socials />

		<Footer />
	</main>
</Layout>
