---

---

<nav class="flex justify-center w-screen h-24 bg-gray text-white text-md font-medium fixed z-20">
    <div class="flex justify-center lg:justify-between items-center w-full max-w-6xl px-20 py-6 shadow-2xl">
        <div class="h-16 w-16 bg-olive"></div>
        <ul class="hidden lg:flex flex-row gap-8">
            <li><a href="#projects" class="px-4 py-3 hover:text-blue">PROJECTS</a></li>
            <li><a href="#experience" class="px-4 py-3 hover:text-blue">EXPERIENCE</a></li>
            <li><a href="#studies" class="px-4 py-3 hover:text-blue">STUDIES</a></li>
            <li><a href="#technologies" class="px-4 py-3 hover:text-blue">TECHNOLOGIES</a></li>
        </ul>
    </div>
</nav>