---
interface Props {
    name: string,
    icon: string;
}

const { name, icon } = Astro.props;
---

<div class="col-span-3 flex flex-col items-center justify-between gap-2 px-6">
    <img src={icon} alt="" class="h-28">
    <span class="font-semibold text-md text-center text-black">{name}</span>
</div>