<nav class="hidden relative top-auto bottom-auto left-3 flex flex-col gap-4">
    <div class="w-10 h-10 bg-black"></div>

    <div class="w-10 h-10 bg-black"></div>

    <div class="w-10 h-10 bg-black"></div>
</nav>