---
interface Props {
    href: string,
}

const { href } = Astro.props;
---

<a href={href} class="relative before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-red-200 before:transition-all before:duration-300 hover:before:left-0 hover:before:w-full cursor-pointer border-b-4 border-r-4 border-black bg-white aspect-square h-14 flex justify-center items-center">
    <slot />
</a>