---
import Returnbar from '../components/Returnbar.astro';

import '@fontsource-variable/montserrat';
import '@fontsource-variable/jetbrains-mono';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/803f0f09c6.js" crossorigin="anonymous"></script>
	</head>
	<body id="md-body">
		<Returnbar />
		<main id="md-main">
			<slot />
		</main>
	</body>
</html>

<style is:global is:inline>
	#md-body {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
	#md-main {
		background-color: white;
		max-width: 48rem;
		width: 100%;
		min-height: 100vh;
		--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    	--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		padding: 3rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: 'Montserrat Variable', sans-serif;
		background: white;
		background-image: radial-gradient(rgb(254 226 226) 4px, transparent 0);
		background-size: 47px 47px;
		background-position: center;
	}
	h2 {
		font-size: xx-large;
		font-weight: 800;
		color: rgb(248, 113, 113);
		margin-top: 16px;
	}
	h3 {
		font-size: x-large;
		font-weight: 700;
	}
	h4 {
		font-size: larger;
		font-weight: 600;
	}
	h5 {
		font-size: large;
		font-weight: 500;
	}
	h6 {
		font-size: large;
		font-weight: 500;
		color: rgb(248, 113, 113);
	}
	ul {
		list-style: disc inside;
	}
	ul > li > ul {
		list-style: circle inside;
		margin-left: 2rem;
	}
	ul > li > ul > li > ul {
		list-style: square inside;
		margin-left: 2rem;
	}
	li::marker {
		color: rgb(248, 113, 113);
	}
	code {
		font-family: 'JetBrains Mono Variable', monospace;
		background-color: rgb(231 229 228);
		padding: 2px 6px;
		border-radius: 0.375rem;
	}
	pre > code {
		background-color: transparent;
	}
	pre {
		padding: 8px 16px;
		border-radius: 0.375rem;
		background-color: rgb(231 229 228);
	}
	.contains-task-list {
		list-style: none;
	}
	a {
		text-decoration: underline;
		color: rgb(248, 113, 113);
	}
	img {
		width: 100%;
		color: rgb(254, 202, 202);
	}
	table {
		border: 2px solid rgb(231 229 228);
		width: fit-content;
	}
	th {
		border: 2px solid rgb(231 229 228);
		padding: 6px 12px;
	}
	td {
		border: 2px solid rgb(231 229 228);
		padding: 6px 12px;
	}
	blockquote {
		border-left: 4px solid rgb(231 229 228);
		padding: 2px 8px 2px 16px;
	}
	hr {
		border-top: 4px solid rgb(231 229 228);
	}
</style>